<html>
  <head>
      <link href="/static/stylesheets/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="/static/stylesheets/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link href="/static/stylesheets/css/views.css" rel="stylesheet" />
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>SnakeTrader</title>
  </head>
  <body>
    <div class = "bodies">
    <header>
      <h3>Welcome to the Snake Trader.<br/>We sell Python better then anyone!</h3>
    </header>


      <div class="quotes">
          <p>
            Max Belfort: What kind of a hooker takes credit cards?<br>
            Donnie Azoff: A rich one! <br>
            Jordan Belfort: I'm not fucking leaving! The show goes on!<br>
            Jordan Belfort: On a daily basis I consume enough drugs to sedate Manhattan, Long Island, and Queens for a month. I take Quaaludes 10-15 times a day for my "back pain", Adderall to stay focused, Xanax to take the edge off, pot to mellow me out, cocaine to wake me back up again, and morphine... Well, because it's awesome.<br>
            Jordan Belfort: I am not gonna die sober!<br />
            Yep,those were all Wolf of the Wallstreet Quotes!</p>
      </div>
        <table>

      <tr>
        <td><div class="box effect1"><h3>Login</h3></div></td>
        <td id="gif"> </td>
      </tr>

    </table>

    <footer>Snake Trader &copy is a limited group with full power.We are not responsible for any account thefts that you may eventually suffer :)
                    <br/>
                    -The Great Snake Broker</footer>
        
    <footer>
    </footer>
  </div>
  </body>
</html>
